[submodule "pack/bundle/start/gruvbox"]
	path = pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/bundle/start/undotree"]
	path = pack/bundle/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "pack/bundle/start/surround"]
	path = pack/bundle/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "pack/bundle/start/vimtex"]
	path = pack/bundle/start/vimtex
	url = https://github.com/lervag/vimtex
[submodule "pack/bundle/start/vimwiki"]
	path = pack/bundle/start/vimwiki
	url = https://github.com/vimwiki/vimwiki
[submodule "pack/bundle/start/vim-fugitive"]
	path = pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
