[submodule "pack/bundle/start/gruvbox"]
	path = pack/bundle/start/gruvbox
	url = https://github.com/morhetz/gruvbox
[submodule "pack/bundle/start/undotree"]
	path = pack/bundle/start/undotree
	url = https://github.com/mbbill/undotree
[submodule "pack/bundle/start/surround"]
	path = pack/bundle/start/surround
	url = https://tpope.io/vim/surround.git
[submodule "pack/bundle/start/fzf"]
	path = pack/bundle/start/fzf
	url = https://github.com/junegunn/fzf
[submodule "pack/bundle/start/vimtex"]
	path = pack/bundle/start/vimtex
	url = https://github.com/lervag/vimtex
